html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url('/assets/img/mario_cursor.cur'), pointer;
}

#root{
    width: 100%;
    height: 100%;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container{
    height: 100%;
}

.Box{
    background: url('/assets/img/cardsBackgorund.jpg');
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    z-index: 3;
}

/*---------------*/            /*-------------*/
/*---------------/-Components*/
/*-------------*/            /*-------------*/

/*--------------------*/
/*----------------------Cards*/
/*--------------------*/

.cardsContainer{
    min-height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.frame {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
}

.frame:hover{
    transform: scaleX(105%) scaleY(105%);
}

.cardAnimate {
    width: 150px;
    height: 150px;
    transition: transform 1s ease;
    transform: rotateY(180deg);
    border: 3px solid black;
    border-radius: 10px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.disabledCard{
    width: 150px;
    height: 150px;
    transition: transform 1s ease;
    transform: rotateY(180deg);
    border: 3px solid white;
    border-radius: 10px;
}

/*--------------------*/
/*----------------------Start Button*/
/*--------------------*/

.startContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButton{
    margin-top: 15px;
    padding: 15px;
    background-color: #ff0000;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    cursor: url('/assets/img/mario_cursor.cur'), pointer;
}

/*--------------------*/
/*----------------------Counter*/
/*--------------------*/

.hideCounter{
    position: absolute;
    display: none;
}

.Counter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 300px;
}


/*--------------------*/
/*----------------------Cross*/
/*--------------------*/

.crossContainer{
    border-bottom: 2px solid black;
}

.Board{
    background-color: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(5px);
    right: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    height: max-content;
}

.timer{
    width: 200px;
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
}

.timerImage{
    position: absolute;
    width: 200px;
}

.timerh2{
    position: absolute;
    right: 100px;
    top: 40px;
    font-size: 50px;
}

.scoreTab li{
    list-style-type: "\231B";
}

/*--------------------*/
/*----------------------GameOver*/
/*--------------------*/

.gameoverScreen {
    background: url('/assets/img/gameoverScreen.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: border-radius 0px ease;
    transform: scale(100%);
    transition: 2s ease;
    z-index: 999;
}

.gameoverScreenDisabled{
    position: absolute;
    background: url('/assets/img/gameoverScreen.png');
    scale: 0%;
    border-radius: 1000px;
    left: 50%;
    top: 50%;
}

.gameoverTitle{
    position: absolute;
    top: 0;
    scale: 50%;
    height: 250px;
    width: 1620px;
}

.retryButton{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 80px;
    background-color: #ff0000;
    color: white;
    cursor: url('/assets/img/mario_cursor.cur'), pointer;
}

.victoryScreen {
    background: url('/assets/img/victoryScreen.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: border-radius 0px ease;
    transform: scale(100%);
    transition: 2s ease;
    z-index: 999;
}

.victoryScreenDisabled{
    position: absolute;
    background: url('/assets/img/victoryScreen.jpeg');
    scale: 0%;
    border-radius: 1000px;
    left: 50%;
    top: 50%;
}






