/*--------------------*/
/*----------------------Fond*/
/*--------------------*/

body{
    background: url('/assets/img/background.jpg');
    background-size: cover;
}


header{
    background-color: red;
    height: 150px;
}

.screen, main{
    height: 100%;
}

.Bienvenue {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.738);
    backdrop-filter: blur(5px);
    color: white;
    font-size: larger;
    width: calc(100% - 60px);
    transform: translateY(-100%);
    transition: 0.5s ease;
    z-index: 5;
}

.BienvenueAnimate{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.738);
    backdrop-filter: blur(5px);
    color: white;
    font-size: larger;
    width: calc(100% - 60px);
    transform: translateY(0);
    transition: 0.5s ease;
    z-index: 5;
}

.BienvenueAnimate p, .BienvenueAnimate h5{
    display: flex;
    align-items: center;
    margin: 10px;
}

.BienvenueAnimate img, .Bienvenue img{
    width: 30px;
}

.welcomeMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.738);
    backdrop-filter: blur(5px);
    color: white;
    font-size: larger;
    height: max-content;
}

.welcomeMessage p{
    margin: 5px;
}

.menu{
    position: absolute;
    z-index: 2;
    width: 285px;
    top: 480px;
    left: 627px;
    display: flex;
    justify-content: space-between;
}

.playButton{
    padding: 10px;
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 20px;
    cursor: url('/assets/img/mario_cursor.cur'), pointer;
    position: absolute;
    z-index: 3;
    left: 35%;
    top: 60%;
}

.playButton img{
    width: 150px;
}

.rulesButton{
    padding: 10px;
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 20px;
    cursor: url('/assets/img/mario_cursor.cur'), pointer;
    position: absolute;
    z-index: 3;
    left: 53%;
    top: 60%;
}

.rulesButton img{
    width: 150px;
}

.closeButton{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-weight: bolder;
}


/*---------------*/
/*----------------RESPONSIVE--------*/
/*---------------*/

/*--Mobiles--*/
@media (max-width: 768px){
    body{
        background: url('/assets/img/background_mobile.jpg');
        background-size: cover;
        backdrop-filter: blur(5px);
    }

    main{
        display: flex;
        justify-content: center;
    }

    .playButton, .rulesButton{
        position: relative;
        top: 0;
        left: 0;
        margin: 20px 0;
    }

    .boutons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

